[package]
name = "z3-sys"
version = "0.8.1"
authors = ["Graydon Hoare <graydon@pobox.com>", "Bruce Mitchener <bruce.mitchener@gmail.com>", "Nick Fitzgerald <fitzgen@gmail.com>"]
build = "build.rs"
edition = "2018"

description = "Low-level bindings for the Z3 SMT solver from Microsoft Research"
license = "MIT"
links = "z3"
keywords = ["FFI", "SMT", "satisfiability", "solver"]
categories = ["external-ffi-bindings"]
readme = "README.md"
documentation = "https://docs.rs/z3-sys/"
homepage = "https://github.com/prove-rs/z3.rs"
repository = "https://github.com/prove-rs/z3.rs.git"

[build-dependencies]
bindgen = { version = "0.70", default-features = false, features = ["runtime"] }
# Temporarily pinning cc to 1.1 as 1.2 and later use -fno-exceptions, which
# breaks the z3 build. See https://github.com/prove-rs/z3.rs/issues/328
cc = "~1.1"
cmake = { version = "0.1.54", optional = true }
pkg-config = "0.3.32"
vcpkg = { version = "0.2.15", optional = true }

[features]
bundled = ["dep:cmake"] # Build Z3 via our bundled submodule.
vcpkg = ["dep:vcpkg"] # Build Z3 via vcpkg.

# Legacy feature for short term compatibility
static-link-z3 = ["bundled", "deprecated-static-link-z3"]
deprecated-static-link-z3 = []
